body{
    background-color:#D3F5FF;
    color:#2B2C28
}

h1{
    background-color:#339989;
    color:#2B2C28
}
h2{
    color:#2B2C28;
}

p{
    color:#131515;
}

div{background-color:#7DE2D1;
    width:1000px;
    margin: 10px;
    border:1px solid #131515;
    border-radius: 10px;
    padding: 10px;
}
div.card{
    width:140px;
}