:root{
    /*Background colors*/
    --onyx-background:#131515;
    --graphite-background:#353633;
    --verdigris-background:#339989;
    --pearl-aqua-background:#7DE2D1;
    --white-blue-background:#D3F5FF;
    /*Font colors*/
    --onyx-font:#131515; 
    --graphite-font:#2b2c28;
    --pearl-aqua-font: #7DE2D1;
    --white-blue-font:#D3F5FF;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease;
  background-color: var(--verdigris-background);
}

div.entete {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  width: 100%;
  border: none;
  border-radius:0px;
  background-color: var(--verdigris-background);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-links li {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

body{
    background-color: var(--white-blue-background);
    color:var(--graphite-font);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
      color:var(--white-blue-font)
}

h2{
    color:var(--white-blue-font);
    background-color: var(--verdigris-background);
}

div {
    background-color: var(--pearl-aqua-background);
    border: 1px solid var(--pearl-aqua-background);
    border-radius: 15px;
    margin-bottom: 15px;
    width: 60%;
    align-items: center;
    padding: 5px;
}

div.presentation{
    margin-top: 165px;
}

div.contact{
    width : 20%;
    margin-top: 165px;
}

div.hobby{
    position: fixed;
    top: 165px;
    right: 0;
    width :38%
}

div.profilepic {
    text-align: right;
}

.icon{
    color:var(--white-blue-background);
}