body{
    background-color:#D3F5FF;
    color:#2B2C28
}

h1{
    background-color:#339989;
    color:#2B2C28
}
h2{
    color:#2B2C28;
}

p{
    color:#131515;
}

div{background-color:#7DE2D1;
    width:auto;
    margin: 10px;
    border:2px solid #7DE2D1;
}

